button {
  font-size: 1rem;
  align-items: center;
  height: 54px;
  border-radius: 0.4rem;
  font-weight: 600;
  color: #ddd;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: #000000;
}

.count {
  color: #7f7f7f;
}
